*
!.gitignore
!tmux/
!tmux/tmux.conf
!yabai/
!yabai/*
!skhd/
!skhd/*
!nvim/
!nvim/lua/
!nvim/lua/**
!nvim/init.lua
!nvim/.eslintrc.msj
!nvim/spell/
!nvim/spell/*
!nvim/vimwiki/
!nvim/vimwiki/*
*.DS_Store
